<template>
  <div>
    <BaseButton @click="add()" :name="'Прибавить 1'"/>
    <BaseButton @click="add(num)" :name="btnName"/>
    <span>{{counter}}</span>
    <br/>
    <br/>
    <br/>
    <BaseButton @click="send" :name="'Отправить'"/>

    <!-- <BaseButton @click="show" :name="'Показать'"/> -->

    <div>
        <form>
            <input  v-model="model.address" placeholder="Адрес:" >

            <div class="form-item">
                <input type="radio" id="a" value="Картой" v-model="model.type">
                <label for="a">Картой</label>
            </div>
            <div class="form-item">
                <input type="radio" id="b" value="Наличными" v-model="model.type">
                <label for="b">Наличными</label>
             </div>
             
            <select v-model="model.deliveryTime">
                <option disabled value="">Выберите один из вариантов</option>
                <option>с 9:00 до 22:00</option>
                <option>с 14:00 до 16:00</option>
                <option>с 16:00 до 18:00</option>
            </select>

            <div class="form-item">
                <input type="checkbox" id="c" value="1" v-model="model.selected">
                <label for="c">какой-то чек-бокс 1</label>
            </div>
            <div class="form-item">
                <input type="checkbox" id="d" value="2" v-model="model.selected">
                <label for="d">какой-то чек-бокс 2</label>
            </div>
        </form> 
    </div>
  </div>
</template>

<script>
export default {
    props: {
        counter: Number
    },
    data() {
        return {
            num: 10,
            // counter: 0

            model: {
                address: '',
                type: '',
                deliveryTime: '',
                selected: []
            }
        }
    },

    computed: {
        btnName() {
            return `Прибавить ${this.num}`
        }
    },

    methods: {
        add(num) {
            // this.counter += 1

            if(num) {
                this.$emit('addFew', num)
            } else {
                this.$emit('addOne')
            }
        },

        send() {
            this.$emit('sendModel', this.model)
        }
    }
}
</script>

<style>

</style>