<template>
<div class="app">
  <!-- <ExampleOne></ExampleOne> -->
  <!-- <ExampleTwo></ExampleTwo> -->

  <!-- <example-three /> -->

  <!-- <ExampleFour /> --> 

  <ExampleFive :counter="counter"
      class="mb-32"
      @addOne="addOne"
      @addFew="addNumber($event)"
      @sendModel="show($event)" />

  <BaseButton class="mb-32"
      :name="'Сменить компонент'"
      :xClass="'base-button--primary'"
      @click="toggleTab()" />

  <BaseButton class="mb-32"
      :xClass="'base-button--secondary'"
      :name="'Secondary'" />

  <div class="mb-32">
      <component v-bind:is="tab"></component>
  </div>
</div>
</template>

<script>
//Локальная регистрация компонентов
import ExampleOne from './views/ExampleOne.vue'
import ExampleTwo from './views/ExampleTwo.vue'
import ExampleFive from './views/ExampleFive.vue'


export default {
  components: {
    ExampleOne,
    ExampleTwo,
    ExampleFive,
  },

  data() {
    return {
      keyTab: 'ONE',
      counter: 0,
    }
  },

  mounted() {
    this.$api.Test.getTest()
      .then(({data}) => {
        console.log(data);
      })
      .catch(e => {
        console.log(e)
      })
  },

  computed: {
    tab() {
      return this.keyTab === "ONE" ? ExampleOne : ExampleTwo
    }
  },

  methods: {
    addNumber(val) {
      this.counter += val
      console.log(this.counter)
    },

    addOne() {
      this.counter += 1
      console.log(this.counter)
    },

    show(val) {
      console.log(val)
    },

    toggleTab() {
      if(this.keyTab === "ONE") {
        this.keyTab = "TWO"
      } else {
        this.keyTab = "ONE"
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .app {
		// background: $danger; // глобальная переменная
    .mb-32 {
      margin-bottom: 32px;
    }
	}
</style>