<template>
    <div>
        <!-- <button class="base-button" :class="xClass" v-bind="$attrs" v-on="listeners">{{ name }}</button> -->

        <button class="base-button" 
                :class="[xClass, {'base-button--disabled': isDisabled}]" 
                v-bind="$attrs"
                v-on="listeners"> {{ name }}
        </button>
    </div>
    
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        name: String,
        xClass: String,
        isDisabled: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            // name: 'Добавить'  // статическая переменная
        }
    },

    computed: {
        listeners() {
            return {
                ...this.$listeners
            }
        },

        label() {
            return this.name + ' ' + 'qwerty'
        },
        
    }
}
</script>

<style lang="scss">
    @import "./style.scss"
</style>