.base-button {
	padding: 0 16px;
	height: 32px;
	border-radius: 4px;
	outline: none;
	box-shadow: none;
	background: rgb(85, 131, 129);
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	min-width: 100px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	&--primary {
		background: rgb(129, 199, 0);
		border: none;
		color: #fff;

		&:hover {
			background: rgb(123, 175, 28);
		}
		&.active,&:active,&.before-activate {
			background: rgb(109, 155, 25);
		}
		&.disabled,&:disabled {
			background: gray;
			color: rgb(107, 107, 107);
		}
	}

	&--secondary {
		background: #fff;
		border: 1px solid gray;
		color: rgb(85, 131, 129);

		&:hover {
			border-color: rgb(116, 116, 116);
		}
		&.active,&:active,&.before-activate {
			border-color: rgb(82, 82, 82);
            background: rgb(150, 185, 184);
            color: #fff;
		}
		&.disabled,&:disabled {
			background: gray;
			color: rgb(107, 107, 107);
            border-color: rgb(116, 116, 116);
		}
	}
}